.navbar-collapse,{
	background-color:grey;
	}

.nav{
	width:100%;
}

.tabs{
	width:20%;
	border:Yellow 4px solid;
	text-align:center;
	margin:0px auto;
	background-color:black;
	font-weight: bold;

}

li>a{
	color:red !important;
}
.navbar-collapse.collapse{
	padding-left:0px;
	padding-right:0px;
}

.navbar-header{
	background-color:black;
}
@media (max-width:768px) 
		{
			.tabs{
				width:100%;
				border:Yellow 4px solid;
	text-align:center;
	margin:0px auto;
	background-color:black;
	font-weight: bold;
				}
	}	
		